@font-face {
    font-family: 'lato-bold';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-bold.woff') format('woff'),
         url('../fonts/lato-bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/lato-regular.eot');
    src: url('../fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular.woff') format('woff'),
         url('../fonts/lato-regular.ttf') format('truetype'),
         url('../fonts/lato-regular.svg#LatRegular') format('svg');
}

@font-face {
    font-family: 'p22_corinthia';
    src: url('../fonts/p22_corinthia.eot');
    src: url('../fonts/p22_corinthia.eot?#iefix') format('embedded-opentype'),
         url('../fonts/p22_corinthia.woff') format('woff'),
         url('../fonts/p22_corinthia.ttf') format('truetype'),
         url('../fonts/p22_corinthia.svg#P22Corinthia') format('svg');
}
/************************************************************************************************/
body{
	background-color: white;
}
.fixedBoard{
	display: flex;
	justify-content: center;
	border: 1px solid transparent;
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height: 75px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
}
.fixedBoard a{
	position: relative;
	bottom: 86px;
	text-decoration: none;
	color: white;
	float: right;
	padding: 10px;
	margin-right: 20px;
	cursor: pointer;
}
.logophoto{
	position: relative;
	bottom: 130px;
	right: 1100px;
}
.logoword{
	position: relative;
	right: 950px;
	bottom: 210px;
	color: white;
	font-family: cursive;
	font-size: 14px;
}
.phone{
	position: relative;
	right: 750px;
	bottom: 235px;
	color: white;
	font-size: 14px;
}
.phone img{
	width: 20px;
	position: relative;
	top: 4px;
	right: 10px;
}
.nav {
  	padding-left: 0;
  	margin-bottom: 0;
  	list-style: none;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: absolute;
	right: 30px;
	top: 85px;
}
.contact{
	right: 200px;
	top: -115px;
}
.about{
	right: 340px;
	top: -150px;
}
.home{
	right: 490px;
	top: -185px;
}
.login_btn{
    right: -10px;
    top: -80px;
    border: 2px solid white;
    background: transparent;
}
.login_btn:hover{
    background: white;
    color: #1c3655;
}
.contact:hover{
    color: red;
}
.about:hover{
    color: red;
}
.home:hover{
    color: red;
}
.caption{
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -105px;
    z-index: 10;
}

.caption h2{
    color: #fff;
    font-family: "p22_corinthia", Helvetica, Arial, sans-serif;
    font-size: 100px;
    font-weight: lighter;
    margin: 0;
    position: relative;
    display: block;
}

.caption h3{
    color: #fff;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: -5px 0 0 25px;
    left: 1px;
}


.box{
	/*border: 1px solid transparent;*/
	position: relative;
	bottom: 20px;
	right: 10px;
	width: 106%;
	height: 900px;
	background: url(image1.jpg) no-repeat bottom center; 
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	/*animation: myanime 20s infinite;*/
	z-index: 8;
}
.box #spinword:after{
	font-family: "Times New Roman", Times, serif;
	content:"";
	position: relative;
	left: 500px;
	font-size: 40px;
	/*animation: spinword 20s infinite;*/
}/*
@keyframes myanime{
	0%{background-image: url(image1.jpg);
		color: red;
				}
	25%{background-image: url(image1.jpg);
		color: green;
				}
	50%{background-image: url(image2.jpg);
		color: lightgreen;
				}
	100%{background-image: url(image3.jpg);
		color: orange;
				}
}
@keyframes spinword{
	0%{content: "MacBook Pro 2019";
				}
	25%{content: "Dell XPS 13";
				}
	50%{content: "MackBook Pro 2019";
				}
	100%{content: "Acer Switch 3";
				}
}*//*
.largeBack{
	border: 1px solid transparent;
	width: 100%;
	height: 1000px;
	position: absolute;
	background-image: url(wall2.jpg);
	background-size: 1200px;
	top: 400px;
	left: 0;
	z-index: -1;
}*//*
.backBox{
	border: 1px solid transparent;
	width: 100%;
	height: 400px;
	position: absolute;
	top: 20px;
	left: 0px;
	background-image: url("wall.jpg");
	background-size: 1200px;
}*/
.boxWords{
	border: 1px solid transparent;
	height: 100px;
	position: relative;
	bottom: 20px;
	right: 8px;
	width: 1347px;
}
.boxWords button{
	position: relative;
	left: 450px;
	margin: 20px 1px;/*-7px*/
	font-size: 30px;
	border: none;
	border-radius: 50px;
	outline: none;
	cursor: pointer;
	padding: 10px;
	font-family: sans-serif;
	background-color: white;
}
#tabPanel{
	display: none;
}
td{
	border-bottom: 1px solid lightgray;
}
#good0, #good1, #good2, #good3{
	width: 50%;
	height: 120px;
	position: relative;
	left: 80px;
}
#left{
	position: relative;
	right: 220px;
	bottom: 40px;
	border: transparent;
	outline: none;
	cursor: pointer;
}
#right{
	position: relative;
	left: 100px;
	bottom: 40px;
	border: transparent;
	outline: none;
	cursor: pointer;
}
#left img, #right img{
	position: relative;
	left: 1px;
}
#bucket1, #bucket2, #bucket3, #bucket4{
	width: 160px;
	background-color: yellow;
	border: none;
	outline: green;
	cursor: pointer;
	margin-left: 40px;
}
.laptop_box{
	padding: 50px 0;
}
table{
	position: relative;
	left: 150px;
}
table button span{
	position: relative;
	bottom: 5px;
}
table button img{
	width: 20px;
	position: relative;
	right: 20px;
}
table p{
	font-family: Arial, Helvetica, sans-serif;
	color: blue;
}
#price{
	position: relative;
	left: 80px;
	color: green;
}
#sale{
	position: relative;
	bottom: 50px;
	right: 60px;
}/*
.footer{
	border: 1px solid transparent;
	width: 100%;
	height: 300px;
	position: absolute;
	left: 0;
	top: 1400px;
	background-color: rgba(25, 25, 25, 0.7);
}
.mini_footer{
	border: 1px solid transparent;
	width: 100%;
	height: 50px;
	position: absolute;
	left: 0;
	background: lightblue;
}
.invisibleBox{
	display: none;
	position: fixed;
	right: 10px;
	top: 110px;
	border: 1px solid yellow;
	background-color: lightblue;
	border-radius: 10px;
	width: 200px;
	height: 200px;
	z-index: 12;
}
#cart{
	z-index: 12;
	position: fixed;
	right: 60px;
	top: 60px;
	border: 1px solid black;
	border-radius: 40%;
	padding: 10px;
	background-color: yellow;
	outline: none;
	cursor: pointer;
}
.img1 img, .img2 img, .img3 img, .img4 img{
	width: 40px;
}
.img1{
	position: absolute;
	top: 7px;
	left: 30px;
}
.img2{
	position: absolute;
	top: 7px;
	left: 230px;
}
.img3{
	position: absolute;
	top: 7px;
	right: 230px;
}
.img4{
	position: absolute;
	top: 7px;
	right: 30px;
}
.foot_word{
	position: relative;
	top: 15px;
	left: 600px;
	font-family: cursive;
}*/
.largeBack{
	border: 2px solid transparent;
	width: 102%;
	height: 100px;
	position: relative;
	right: 9px;
	top: 35px;
	background-color: yellow;
}
.largeBack #cart{
	border: none;
	border-radius: 20px;
	color: green;
	outline: none;
	background-color: lightblue;
	width :140px;
	height: 50px;
	position: absolute;
	top: 30px;
	right: 580px;
	font-size: 20px;
	cursor: pointer;
}
.largeBack #cart:hover{
	background-color: green;
	color: blue;
}
/*********************************************************/
#cartingInvisible{
	display: none;
	border: 2px solid red;
	border-radius: 15px;
	background-color: white;
	width: 500px;
	height: 300px;
	position: fixed;
	top: 33%;
	left: 33%;
	z-index: 10;
	text-align: center;
}
/*********************************************************/
.w1{
	position: relative;
	top: 60px;
	left: 50px;
	font-family: cursive;
}
footer {
    background: black;
    position: relative;
    right: 8px;
    top: 18px;
    width: 1400px;
}
.bot {
    text-align: center;
    color: white;
    position: relative;
    top: 270px;
}
.left{
	color: white;
	position: absolute;
	left: 50px;
	top: 20px;
	font-size: 22px;
}
.left_Desc{
	position: absolute;
	left: 50px;
	top: 90px;
	color: yellow;
	font-size: 18px;
	width: 300px;
}
.leftImage{
	width: 60px;
	margin: 20px;
	position: relative;
	left: 40px;
	top: 130px;
}
.right{
	font-size: 22px;
	color: white;
	position: absolute;
	right: 150px;
	top: 20px;
}
.right_Desc{
	color: yellow;
	position: relative;
	left: 1075px;
	bottom: 60px;
}
.right_Desc a{	color: yellow;
	text-decoration: none;
}
.centerSmile{
	width: 150px;
	position: absolute;
	top: 50px;
	left: 620px;
}

@media screen and (max-width: 480px) {
	.fixedBoard a{
		display: none;
	}/*
	.fixedBoard img{
		position: relative;
		top: 40px;
		right: 400px;
	}*/
}
